@import '_variables-and-mixins'; 

.book-button{
  font-family: $mainFont;
  margin: 1.5% 3%;
  padding: 1% 2%;
  font-size: 125%;
  border: .2em solid;
  position: relative;
  cursor: pointer;
  color: white;
  background: none;
}

.book-button:hover{
  @include buttonHoverState();
}

.return-to-customer-info {
  font-family: $mainFont;
  margin: 1.5% 3%;
  padding: 1% 2%;
  font-size: 125%;
  border: .2em solid;
  position: relative;
  cursor: pointer;
  color: white;
  background: none;
}

.return-to-customer-info:hover{
  background:#fff;
  border-color: white;
  font-weight: bolder;
  color: black; 
}

.login-submit-button {
  cursor: pointer;
  width: 20%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-family: $mainFont;
  background-color: black;
  cursor: pointer;
  outline: none;
}

.trip-button {
  font-family: $mainFont;
  float: right;
  margin-left: 2%;
  position: relative;
  padding: 1% 2%;
  font-size: 120%;
  font-weight: bolder;
  user-select: none;
  display: inline-block;
  border: .2em solid;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background: none;
  color: black;
}