* {
  margin: 0;
}

html {
  background: url(../images/background.jpg) no-repeat center center fixed; 
  font-family: 'Roboto', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


