* {
  margin: 0;
}

html {
  background: url(../images/background3.jpg) no-repeat center center fixed; 
  font-family: 'Roboto', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 450%;
  font-weight: lighter;
}

p {
  font-size: 175%;
  margin-right: 10%;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 3%;
  margin-right: 6%;
}

.tag-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.customer-details {
  background: wheat;
  vh: 34vh;
  width: 30vw;
}

//////////////////////////////////


.book-button{
  padding: 1% 2%;
  font-size: 200%;
  // touch-callout: none;
  user-select: none;
  display: inline-block;
  border: .2em solid;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  // opacity: 0.6;
  color: #FFF;
}
  // &__text{
  //   display: block;
  //   padding:1em 2em;
  //   text-transform: uppercase;
  //   font-weight: bold;
  //   &:before{
  //     content: attr(title);
  //   }
  //   &--bis{
  //     display: block;
  //     position: absolute;
  //     top: 0; left:0; right: 0; bottom: 0;
  //     transform: translateX(-1 * $anim-text-offset);
  //     opacity: 0;
  //   }
//   }
//   &__mask{
//     display: block;
//     position: absolute;
//     top: 0; left: 0; right: 0; bottom: 0;
//     background: white;
//     transform: translateX(-100%) rotate(45deg);
//     transition: all 0.3s;
//   }  


// .book-button:hover{
//   opacity: 1;
// }

// @keyframes fx-mask {
//   0%{
//     transform: translateX(-100%) rotate(45deg);
//   }
//   100%{
//     transform: translateX(100%) rotate(45deg);
//   }
// }

// @keyframes fx-text {
//   0%{
//     transform: translateX(0);
//     opacity: 1;
//   }
//   100%{
//     transform: translateX($anim-text-offset);
//     opacity: 0;
//   }
// }
// @keyframes fx-text-bis {
//   0%{
//     transform: translateX(-1 * $anim-text-offset);
//     opacity: 0;
//   }
//   100%{
//     transform: translateX(0);
//     opacity: 1;
//   }
// }



